{% extends 'accounts/main.html' %}
{% block content %}

<br>
<center>
<div class="row">
	<div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Africa</h5>
        <a href="/region/africa" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Asia</h5>
        <a href="/region/asia" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Europe</h5>
        <a href="/region/europe" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
</div>
    <br/><br/>
    <div class="row">
	<div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">North America</h5>
        <a href="/region/northamerica" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">South America</h5>
        <a href="/region/southamerica" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Australia</h5>
        <a href="/region/australia" class="btn btn-primary">View Locations</a>
      </div>
    </div>
    </div>
</div>
<br/> <br/>

</center>

{% endblock %}
